.blog-post {
  margin-bottom: 75px;
}

.blog-post .blog-thumb {
  height: 331px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.blog-post .blog-date {
  display: inline-block;
  padding: 12px 27px;
  color: #fff;
  font-size: 14px;
  background: #17172d;
}

.blog-post .blog-metas {
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3f0fa;
}

.blog-post .blog-meta {
  display: inline-block;
  font-size: 12px;
  color: #718090;
  padding-left: 22px;
  position: relative;
  padding-right: 12px;
  margin-right: 6px;
  margin-bottom: 10px;
}

.blog-post .blog-meta:last-child {
  margin-right: 0;
  padding-right: 0;
}

.blog-post .blog-meta:last-child::before {
  display: none;
}

.blog-post .blog-meta::before {
  position: absolute;
  content: "/";
  top: 0;
  right: 0;
  font-size: 12px;
  color: #718090;
}

.blog-post .blog-meta:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  background-image: url("../img/blog/blog-icons.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.blog-post .blog-meta.meta-author:after {
  background-position: center left -2px;
}

.blog-post .blog-meta.meta-cata:after {
  background-position: center left -24px;
}

.blog-post .blog-meta.meta-comment:after {
  background-position: center left -48px;
}

.blog-post .blog-meta a {
  color: #718090;
}

.blog-post h2 {
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 30px;
}

.blog-post p {
  margin-bottom: 30px;
}

.blog-post .read-more {
  min-width: 138px;
}
